:root {
  --grey-800: #606266;
  --grey-500: #E4E6EB;
  --facebook-blue: #3b5998;
  --facebook-background-grey: #F0F2F5;

  // Application header
  --application-header-height: 5rem;

  // View
  --view-padding-vertical: 2.1rem;
  --view-padding-horizontal: 5.5rem;

  // Fonts
  --primary-font: Roboto, Arial, Helvetica, sans-serif;
}
